/**
 * [Layer 0] Variable creation
 * Declare all the raw values that can be used later by the theme.
 * This layer should not dictate how the values will be used. 
 */
:root {
  /**
   * Gruvbox dark, medium
   * Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
   */
  --base00: #282828; /* ---- */
  --base01: #3c3836; /* --- */
  --base02: #504945; /* -- */
  --base03: #665c54; /* - */
  --base04: #bdae93; /* + */
  --base05: #d5c4a1; /* ++ */
  --base06: #ebdbb2; /* +++ */
  --base07: #fbf1c7; /* ++++ */
  --base08: #fb4934; /* red */
  --base09: #fe8019; /* orange */
  --base0A: #fabd2f; /* yellow */
  --base0B: #b8bb26; /* green */
  --base0C: #8ec07c; /* aqua/cyan */
  --base0D: #83a598; /* blue */
  --base0E: #d3869b; /* purple */
  --base0F: #d65d0e; /* brown */

  /**
   * Geometry v2 - Unit sizes
   */
  --u-px: 4px;
  --u-rem: 0.25rem;
  --u-em: 0.25em;
}

/**
 * [Layer 02] Functional mapping
 * Assign raw values to functional values.
 * This layer should not be coupled with concrete elements such as button or link
 */
:root {
  /**
   * Typograph
   */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-serif: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-size-scaler: 100%;
  --font-size-m: calc(4 * var(--u-rem));
  --font-size-s: calc(3.5 * var(--u-rem));
  --font-size-xs: calc(3 * var(--u-rem));

  /**
   * Geometry
   */
  --radius-s: var(--u-px);
  --space-m: calc(4 * var(--u-px));
  --space-s: calc(3 * var(--u-px));
  --space-xs: calc(2 * var(--u-px));

  /**
   * Color
   */

  /** Suggest interactivity, e.g. To show a link/button can be opened/clicked */
  --action-color: var(--base0D);
  /** Use sparingly to create hierarchy and draw attention, e.g. Heading or decorative elements */
  --accent-color: var(--base0A);
  /** Use for the core content of the site, e.g. Feed title and summary */
  --neutral-color: var(--base06);
  /** Use for non-critical content or elements that can be activated */
  --quiet-color: var(--base04);

  /**
   * Layer
   */
  --layer-low-bg: var(--base00);
  --layer-medium-bg: var(--base01);
  --layer-high-bg: var(--base02);
}

/**
 * [Layer 03] Element mapping
 * Assign styles to specific elements.
 */
:root {
  --body-font: var(--font-sans);
  --body-text: var(--neutral-color);
  --body-bg: var(--layer-low-bg);
  --body-padding: var(--space-m);

  --days-gap: var(--space-m);

  --day-bg: var(--layer-medium-bg);
  --day-radius: var(--radius-s);
  --day-padding: var(--space-m);
  --day-heading-text: var(--accent-color);
  --day-heading-font-size: var(--font-size-xs);
  --day-heading-font-weight: var(--font-weight-bold);

  --channel-name-text: var(--quiet-color);
  --channel-name-hover-text: var(--action-color);
  --channel-name-font-size: var(--font-size-s);
  --channel-name-font-weight: var(--font-weight-normal);

  --article-bg: transparent;
  --article-expanded-bg: var(--layer-high-bg);
  --article-title-text: var(--neutral-color);
  --article-title-font-size: var(--font-size-m);
  --article-title-font-weight: var(--font-weight-semibold);
  --article-title-hover-text: var(--action-color);
  --article-summary-text: var(--neutral-color);
  --article-summary-font-size: var(--font-size-m);
  --article-summary-hover-text: var(--action-color);
  --article-meta-text: var(--quiet-color);
  --article-meta-hover-text: var(--action-color);

  --footer-text: var(--quiet-color);
  --footer-font-size: var(--font-size-xs);
  --footer-link-text: inherit;
  --footer-link-hover-text: var(--action-color);
}

/**
 * 04 Internals
 * If you can't create a specific look and feel with the configuration above,
 * you might have reached the customization limit of the template:
 * 1. Certain variables should be changed together. Ejecting one of them breaks the integrety of the visual design.
 * 2. Some elements may not be ready for customization. The template author has limited resource and can't support every possible customization.
 *
 * Your options:
 * 1. File an issue against the template.
 * 2. (Once extensible template API is ready) Write your own template.
 * 3. Target specific elements and write your own CSS. A future change in HTML may break your style.
 */
html {
  font-size: var(--font-size-scaler);
}

body {
  background-color: var(--body-bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  color: var(--body-text);
  margin: 0;
  padding: var(--body-padding);
  display: grid;
  gap: var(--days-gap);
}

:not(:focus-visible) {
  outline: none;
}

.day {
  padding: var(--day-padding);
  background: var(--day-bg);
  border-radius: var(--day-radius);
}

.channels {
  list-style: none;
  margin: 0;
  padding: 0;
}

.day-heading {
  font-size: var(--day-heading-font-size);
  font-weight: var(--day-heading-font-weight);
  margin: 0;
  color: var(--day-heading-text);
}

.channel-name {
  color: var(--channel-name-text);
  font-size: var(--channel-name-font-size);
  font-weight: var(--channel-name-font-weight);
  line-height: 1;
  margin: 12px 0px 4px;
}
.channel-name__link {
  color: inherit;
  text-decoration: none;
}
.channel-name__link:hover {
  color: var(--channel-name-hover-text);
}

.article-expander {
  background-color: var(--article-bg);
  padding: 2px 4px;
  border-radius: 4px;
}
.article-expander[open] {
  background-color: var(--article-expanded-bg);
}

.article-expander__title {
  color: var(--article-title-text);
  font-size: var(--article-title-font-size);
  font-weight: var(--article-title-font-weight);
}
.article-expander__title:hover {
  cursor: pointer;
  color: var(--article-title-hover-text);
}

.article-expander__body {
  display: grid;
  padding: 12px 16px;
  gap: var(--space-xs);
  margin: 0;
}

.article-summary-link {
  color: var(--article-summary-text);
  font-size: var(--article-summary-font-size);
  text-decoration: none;
  color: inherit;
}

.article-summary-link:hover {
  color: var(--article-summary-hover-text);
  color: var(--action-color);
}

.article-meta {
  color: var(--article-meta-text);
}

.article-meta__item--link {
  color: var(--article-meta-text);
  text-decoration: none;
}
.article-meta__item--link:hover {
  color: var(--article-meta-hover-text);
}

footer {
  color: var(--footer-text);
  font-size: var(--footer-font-size);
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: var(--footer-link-text);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--footer-link-hover-text);
}
