body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: #eee;
}

.c-app-layout {
  display: grid;
  grid-template-columns: 1fr auto;
}

.c-app-layout__main {
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
}

.c-app-layout__aside {
  max-width: clamp(400px, 50vw, 800px);
  overflow-y: auto;
  height: 100vh;
}
