.feed-title-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.article-list {
  display: grid;
  overflow-x: auto;
  grid-template-columns: 320px;
  grid-auto-columns: 320px;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: start;
  scroll-snap-type: x mandatory;
}

.article {
  border: 1px solid #999;
  padding: 1rem;
  scroll-snap-align: start;
  max-height: 600px;
  overflow-y: hidden;
  background-color: white;
}

.article__title {
  font-size: 16px;
  font-weight: 600;
}

.article__image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.article__summary {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
