.c-feed-title-group {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}

.c-article-list {
  display: grid;
  overflow-x: auto;
  grid-template-columns: 320px;
  grid-auto-columns: 320px;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: start;
  scroll-snap-type: x mandatory;
}

/** TODO consolidate with other buttons */
.c-feed-controls button {
  border: 1px solid #666;
  padding: 4px 8px;
  font-size: 1rem;
  min-width: 60px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}
