.c-reading-pane {
  padding: 1rem 2rem;
  display: block;
  min-height: 100%;
  background-color: white;
}

.c-reading-pane:not([data-active]) {
  display: none;
}

.c-reading-pane__title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}
.c-reading-pane__title a {
  cursor: pointer;
}
.c-reading-pane__title a:hover {
  text-decoration: underline;
}

.c-embedded-html {
  line-height: 1.5;
}

.c-embedded-html * {
  all: revert;
}

.c-embedded-html :is(img, video) {
  max-width: 100%;
}

.c-reading-pane__controls {
  display: flex;
  gap: 4px;
}
.c-reading-pane__controls button {
  border: 1px solid #666;
  padding: 4px 8px;
  font-size: 1rem;
  min-width: 60px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}
