body {
  background-color: #ddd;
}

.day-container {
  padding: 8px 8px 12px 8px;
  background: #eee;
  margin-bottom: 16px;
}

.articles-per-source {
  padding-left: 8px;
}

h2 {
  font-size: 12px;
  margin: 0;
  color: #888;
}

h3 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin: 8px 0px 0px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: rgb(26, 161, 155);
}

.title-assembly {
  display: flex;
  align-items: center;
}

.actions {
  margin-right: 4px;
}

article:not(.expanded) .actions {
  display: none;
}

article:hover .actions {
  display: inline-flex;
}

article:not(.expanded) .article-details {
  display: none;
}

.article-details {
  border: 1px solid #888;
  padding: 8px;
}

button {
  height: 20px;
  box-sizing: border-box;
}
