:root {
  /* scheme: "Gruvbox dark, medium"
  author: "Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)" */
  --base00: #282828; /* ---- */
  --base01: #3c3836; /* --- */
  --base02: #504945; /* -- */
  --base03: #665c54; /* - */
  --base04: #bdae93; /* + */
  --base05: #d5c4a1; /* ++ */
  --base06: #ebdbb2; /* +++ */
  --base07: #fbf1c7; /* ++++ */
  --base08: #fb4934; /* red */
  --base09: #fe8019; /* orange */
  --base0A: #fabd2f; /* yellow */
  --base0B: #b8bb26; /* green */
  --base0C: #8ec07c; /* aqua/cyan */
  --base0D: #83a598; /* blue */
  --base0E: #d3869b; /* purple */
  --base0F: #d65d0e; /* brown */
}

body {
  background-color: var(--base00);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  color: var(--base06);
  margin: 0;
  padding: 16px;
}

:not(:focus-visible) {
  outline: none;
}

.day-container {
  padding: 16px 16px 16px 16px;
  background: var(--base01);
  margin-bottom: 16px;
}

h2 {
  font-size: 12px;
  margin: 0;
  color: var(--base0A);
}

h3 {
  color: var(--base04);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 12px 0px 4px;
}

p {
  margin: 0;
}

summary {
  font-weight: 600;
}

summary:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--base0D);
}

details {
  --border-color: transparent;

  padding: 2px 4px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
details[open] {
  background-color: var(--base02);
}
.details-content {
  display: grid;
  padding: 12px 16px;
  gap: 16px;
}

details a {
  font-size: 14px;
  text-decoration: none;
  border: 1px solid var(--base04);
  color: var(--base04);
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  justify-self: start;
}

details a:hover {
  background-color: var(--base0D);
  border-color: var(--base0D);
  color: var(--base01);
}
