osmos-app-layout {
  display: grid;
  min-height: 100vh;

  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto / 1fr;
}

.osmos-app-layout__header {
  grid-area: header;
}
.osmos-app-layout__main {
  grid-area: main;
}
.osmos-app-layout__footer {
  grid-area: footer;
}
