* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.date-header {
  height: 80px;
  padding: 20px;
}

.feed-list {
  display: grid;
  gap: 4rem 0;
}

.feed-layout {
  gap: 0 2rem;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.feed-outline {
  position: sticky;
  align-self: start;
  top: 0px;
}

.article-list {
  display: grid;
  gap: 2rem;
}

.article-item {
  break-inside: avoid;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  border: 1px solid #ccc;
}

.article-title {
  font-size: 1.25rem;
}
.article-link {
  color: #333;
  text-decoration: none;
}
